html {
	background-color: #d6dbdf;
}

body {
	font-family: arial;
	background-color: white;
	width: 600px;
	margin: 30px 300px 100px 300px;
	padding: 38px;
	border-radius: 8px;
}

h1 {
	color:#d6dbdf;
	font-weight: bold;
	font-size: 50px;
	letter-spacing: -2px;
	padding-top: 10px;
	padding-bottom: 20px;
}

i {
	font-style: italic;
}

.header p {
	padding-bottom: 15px;
	font-size: 15px;
}

.header {
	border-bottom: 3px solid #d8dbe0;
}

h2 {
	color: #4a4b4d;
	font-weight: bold;
	font-size: 18px;
	padding-top: 35px;
	margin-left: -21px;
	margin-bottom: 10px ;
}

.boxes {
	padding: 60px 0 80px 0;
}
.box {
	display: inline;
	padding: 27px 27px;
	font-size: 25px;
	font-weight: bold;
	color: #96999e;
	background-color: #d6dbdf;
	border-bottom: 3px solid #7f898a;
	border-radius: 3px;
	margin-right: 10px;
}

.special {
	display: inline;
	padding: 27px 27px;
	font-size: 25px;
	font-weight: bold;
	color: #b13f1b;
	background-color: #fe5627;
	border-bottom: 3px solid #d75203;
	border-radius: 3px;
	margin-right: 10px;
}

.cat {
	border-top: 2px solid #d8dcdf;
	padding-top:10px;
}

span {
	font-family: monospace;
	background-color: #d6dbdf;
	padding: 0 2px 0 2px;
}

img {
	padding-top: 25px;
	padding-bottom: 55px;
}

.link {
	border-top: 1px solid #d8dcdf;
	padding-top: 20px;
	padding-bottom: 50px;
}

.end {
	border-top: 2px solid #d8dcdf;
	padding-bottom: 40px;
	color: white;
}

a {
	display:block;
	width: 260px;
	border-radius: 5px;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	color: #622014;
	text-decoration: none;
	letter-spacing: -1px;
	background-color: #fe5627;
	padding: 45px 45px;
	margin-top: 20px;
}

a:hover {
	background-color: #e1e1e1;
	color: #fe5627;
}